div {
    width: 20px;
    min-height: 20px;
    background-color: var(--color-dead);
    border: 1px solid rgb(27, 26, 26);
    border-radius: 0.2em;
}

.persistAlive{
    background-color:var(--color-alive)
}
.peristDead{
    background: var(--color-dead)
}
.alive{
    animation: toAlive 0.2s linear 1 forwards;
}

.dead{
    animation: toDead 0.2s linear 1 forwards;
}

@keyframes toAlive {
    from {
        background-color: var(--color-dead);
    }
    to {
        background-color: var(--color-alive);
    }
}
@keyframes toDead {
    from {
        background-color: var(--color-alive);
    }
    to {
        background-color: var(--color-dead);
    }
}