div {
    width: 20px;
    min-height: 20px;
    background-color: orange;
    border: 1px solid rgb(27, 26, 26);
}

.alive{
    background-color: rgb(78, 136, 78);
}

.dead{
    background-color: rgb(114, 113, 113);
}